/* my own css code */

/* temporary code */
.show-grid {
    border: 1px black solid;
}

/* body */


/* main container */
#main_container { 
    background-color: #ebebeb;
    padding: 5px 32px 0 32px;
    box-shadow: 1px 1px 1px 1px #999999;
    margin-top: 0;
    margin-bottom: 10px;
}

.glyphicon {
    font-size: 32pt;
}

#side_menu {
    margin-bottom: 10px;
}

/* top */
#top {
    padding: 0 0 10px 0;
}

/* logo */
#logo {
    padding: 0;
}


/* social icons */
#social_icons {
    padding: 30px 0 0 0;
    text-align: right;
}

#social_icons a {
    opacity: 0.5;
}

#social_icons a:hover {
    opacity: 1;
}


/* middle */
#middle {
    background-color: #b4b4b4;
    border: 8px #707070 solid;
    padding: 0;
    height: auto;
}
/* banner */
#banner {
    padding: 0;
    margin: 0;
}

#banner img {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* my name and title */
.my-name-full {
    font-family: "helvetica";
    font-size: 20pt;
    font-weight: bold;
    color: #404040;
}

.my-title-full {
    font-family: "helvetica";
    font-size: 15pt;
    color: #4f4f4f;
}

/* my speech */
.my-speech-quot {
    font-family: "helvetica";
    font-size: 32pt;
    color: #3b3b3b;
    font-weight: bold;
}

#my_speech {
    font-family: "helvetica";
    font-size: 12pt;
    line-height: 32px;
    padding: 80px 72px;
    margin: 0 0 52px 0;
    text-align: left;
    color: #3b3b3b;
    font-style: normal;
}

/* portfolio page */
.navbar-default {
    background-color: #2c2c2c;
    width: 100%;
    height: auto;
    text-align: center;
}

/* inner footer */
#inner_footer {

min-height: 300px;

/* gradient create : created from website */
background: rgba(180,180,180,1);
background: -moz-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(180,180,180,1)), color-stop(18%, rgba(44,44,44,1)), color-stop(19%, rgba(44,44,44,1)), color-stop(19%, rgba(44,44,44,1)));
background: -webkit-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: -o-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: -ms-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: linear-gradient(to bottom, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#2c2c2c', GradientType=0 );
/* /gradient create */
}

/* menu */
#menu {
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu_aboutme {
    padding: 0;
}

#menu_portfolio {
    padding: 0;
}

#menu_contact {
    padding: 0;
}

.move-right {
    padding-left: 50px;
}

/* footer */
#footer_container {
    padding: 50px 0 45px 0;
}

#footer_container_2 {
    padding: 50px 0 45px 0;
    margin-bottom: 80px;
}

#footer {
    font-family: "helvetica";
    font-size: 10pt;
    font-weight: normal;
    color: gray;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* link */
a {
    text-decoration: none;
    color: #5c5b5b;
}

a:hover {
    text-decoration: none;
    color: #404040;
    font-weight: bold;
}


/* circle button */
.round-button {
    display:block;
    width:50%;
    line-height:50px;
    padding: 18% 0;
    border: 4px solid #b4b4b4;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    /*box-shadow: 0 0 3px gray;*/
    font-size:14px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
    color: white;
}



/* for another devices */

/* for mobile devices */
@media screen and (max-width: 767px) {
    .glyphicon {
        font-size: 25pt;
    }
    #side_menu {
        margin-bottom: 5px;
    }
    .my-name-full {
        font-size: 14px;
    }
    
    .my-title-full {
        font-size: 12px;
    }
    .my-speech-quot {
        font-size: 25px;
    }
    #my_speech {
        padding: 20px 10px 10px 10px;
        margin: 0;
        font-size: 12px;
    }
    #logo {
        margin: 0;
        padding: 0;
    }
    #social_icons {
        text-align: center;
        padding: 20px 0 10px 0;
    }
}

/* for tab */
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .glyphicon {
        font-size: 25pt;
    }
    #side_menu {
        margin-bottom: 10px;
    }    
    #inner_footer {
        min-height: 200px;

/* gradient create : created from website */
background: rgba(180,180,180,1);
background: -moz-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(180,180,180,1)), color-stop(18%, rgba(44,44,44,1)), color-stop(19%, rgba(44,44,44,1)), color-stop(19%, rgba(44,44,44,1)));
background: -webkit-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: -o-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: -ms-linear-gradient(top, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
background: linear-gradient(to bottom, rgba(180,180,180,1) 17%, rgba(44,44,44,1) 18%, rgba(44,44,44,1) 19%, rgba(44,44,44,1) 19%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#2c2c2c', GradientType=0 );
/* /gradient create */
    }
    
    /* circle button */
.round-button {
        display:block;
        width:70%;
        line-height:50px;
        padding: 18% 0;
        border: 4px solid #b4b4b4;
        border-radius: 50%;
        color:#f5f5f5;
        text-align:center;
        text-decoration:none;
        background: #464646;
        /*box-shadow: 0 0 3px gray;*/
        font-size:14px;
        font-weight:bold;
    }
}
/* /other devices */
